<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Where Am I?</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>

  <div class="section hero" style="margin-top: 40px">
    <div class="container">
      <div class="row">
        <h1>Show a place on a map!</h1>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="eight columns">
          {% include 'userinput.html' %}
        </div>

        <div class="four columns">
            <p>This is a demo of how to build a form with several elements. The Submit button is hookedup to an endpoint that will print the literal key/value pairs for the form item name and it's user-supplied value.<p>
            <p>Some use cases:
            <ul>
                <li>Take user input and insert into a table</li>
                <li>Check input data against known answers in a database or from another source</li>
            </ul>
            </p>
        </div>
      </div>
    </div>

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
